body {
  font-size: 14px;
}

button {
  outline: none !important;
}

.nowrap {
  white-space: nowrap;
}

.btn {
  padding: 0.35rem 1rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.375rem;
}
.btn.btn-lg {
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
}
.btn.btn-sm {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
}
.btn.btn-icon {
  font-size: 12px;
  padding: 0 0 0 4px;
  text-align: center;
}
.btn.btn-icon.btn-xs {
  width: 24px;
  height: 24px;
  line-height: 20px;
}
.btn.btn-success {
  border-color: #208637;
}
.btn.btn-outline {
  transition: all ease 0.5s;
}
.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
  background: #007bff;
  border-color: #007bff;
}
.btn.btn-outline-success:hover, .btn.btn-outline-success:focus {
  background: #28a745;
  border-color: #28a745;
}
.btn.btn-outline-info:hover, .btn.btn-outline-info:focus {
  background: #17a2b8;
  border-color: #17a2b8;
}
.btn.btn-outline-warning:hover, .btn.btn-outline-warning:focus {
  background: #ffc107;
  border-color: #ffc107;
}
.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus {
  background: #dc3545;
  border-color: #dc3545;
}
.btn.btn-outline-primary, .btn.btn-outline-success, .btn.btn-outline-info, .btn.btn-outline-warning, .btn.btn-outline-danger {
  transition: all ease 0.5s;
  border-color: #dee2e6;
}
.btn.btn-outline-primary > .fa,
.btn.btn-outline-primary > .fas,
.btn.btn-outline-primary > .far, .btn.btn-outline-success > .fa,
.btn.btn-outline-success > .fas,
.btn.btn-outline-success > .far, .btn.btn-outline-info > .fa,
.btn.btn-outline-info > .fas,
.btn.btn-outline-info > .far, .btn.btn-outline-warning > .fa,
.btn.btn-outline-warning > .fas,
.btn.btn-outline-warning > .far, .btn.btn-outline-danger > .fa,
.btn.btn-outline-danger > .fas,
.btn.btn-outline-danger > .far {
  color: #000;
}
.btn.btn-outline-primary.disabled, .btn.btn-outline-success.disabled, .btn.btn-outline-info.disabled, .btn.btn-outline-warning.disabled, .btn.btn-outline-danger.disabled {
  pointer-events: none;
  background: transparent;
  border-color: #e9ecef;
}
.btn.btn-outline-primary.disabled:hover, .btn.btn-outline-primary.disabled:focus, .btn.btn-outline-success.disabled:hover, .btn.btn-outline-success.disabled:focus, .btn.btn-outline-info.disabled:hover, .btn.btn-outline-info.disabled:focus, .btn.btn-outline-warning.disabled:hover, .btn.btn-outline-warning.disabled:focus, .btn.btn-outline-danger.disabled:hover, .btn.btn-outline-danger.disabled:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-primary.disabled:hover > .fa,
.btn.btn-outline-primary.disabled:hover > .fas,
.btn.btn-outline-primary.disabled:hover > .far, .btn.btn-outline-primary.disabled:focus > .fa,
.btn.btn-outline-primary.disabled:focus > .fas,
.btn.btn-outline-primary.disabled:focus > .far, .btn.btn-outline-success.disabled:hover > .fa,
.btn.btn-outline-success.disabled:hover > .fas,
.btn.btn-outline-success.disabled:hover > .far, .btn.btn-outline-success.disabled:focus > .fa,
.btn.btn-outline-success.disabled:focus > .fas,
.btn.btn-outline-success.disabled:focus > .far, .btn.btn-outline-info.disabled:hover > .fa,
.btn.btn-outline-info.disabled:hover > .fas,
.btn.btn-outline-info.disabled:hover > .far, .btn.btn-outline-info.disabled:focus > .fa,
.btn.btn-outline-info.disabled:focus > .fas,
.btn.btn-outline-info.disabled:focus > .far, .btn.btn-outline-warning.disabled:hover > .fa,
.btn.btn-outline-warning.disabled:hover > .fas,
.btn.btn-outline-warning.disabled:hover > .far, .btn.btn-outline-warning.disabled:focus > .fa,
.btn.btn-outline-warning.disabled:focus > .fas,
.btn.btn-outline-warning.disabled:focus > .far, .btn.btn-outline-danger.disabled:hover > .fa,
.btn.btn-outline-danger.disabled:hover > .fas,
.btn.btn-outline-danger.disabled:hover > .far, .btn.btn-outline-danger.disabled:focus > .fa,
.btn.btn-outline-danger.disabled:focus > .fas,
.btn.btn-outline-danger.disabled:focus > .far {
  color: #000;
}
.btn.btn-outline-primary:hover > .fa,
.btn.btn-outline-primary:hover > .fas,
.btn.btn-outline-primary:hover > .far, .btn.btn-outline-primary:focus > .fa,
.btn.btn-outline-primary:focus > .fas,
.btn.btn-outline-primary:focus > .far, .btn.btn-outline-success:hover > .fa,
.btn.btn-outline-success:hover > .fas,
.btn.btn-outline-success:hover > .far, .btn.btn-outline-success:focus > .fa,
.btn.btn-outline-success:focus > .fas,
.btn.btn-outline-success:focus > .far, .btn.btn-outline-info:hover > .fa,
.btn.btn-outline-info:hover > .fas,
.btn.btn-outline-info:hover > .far, .btn.btn-outline-info:focus > .fa,
.btn.btn-outline-info:focus > .fas,
.btn.btn-outline-info:focus > .far, .btn.btn-outline-warning:hover > .fa,
.btn.btn-outline-warning:hover > .fas,
.btn.btn-outline-warning:hover > .far, .btn.btn-outline-warning:focus > .fa,
.btn.btn-outline-warning:focus > .fas,
.btn.btn-outline-warning:focus > .far, .btn.btn-outline-danger:hover > .fa,
.btn.btn-outline-danger:hover > .fas,
.btn.btn-outline-danger:hover > .far, .btn.btn-outline-danger:focus > .fa,
.btn.btn-outline-danger:focus > .fas,
.btn.btn-outline-danger:focus > .far {
  color: #fff;
}
.btn > .fa,
.btn > .fas,
.btn > .far {
  color: rgba(255, 255, 255, 0.75);
  margin-right: 0.2rem;
}

#back-to-top {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0.25rem 0.65rem;
  border-radius: 0.25rem;
  font-size: 14px;
  box-shadow: 0 1px 3px 0 rgba(73, 80, 87, 0.25);
  display: none;
  text-decoration: none;
}
#back-to-top:hover {
  background: #000;
}

.navbar-custom {
  border-bottom: 1px solid #dee2e6;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-custom .navbar-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .navbar-custom .navbar-nav .nav-item a {
    color: #000;
  }
  .navbar-custom .navbar-nav .nav-item a.nav-link {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease border-bottom;
  }
  .navbar-custom .navbar-nav .nav-item a.nav-link:hover {
    transition: 0.5s ease border-bottom;
    border-color: #dee2e6;
  }
  .navbar-custom .navbar-nav .nav-item.active a.nav-link {
    font-weight: 500;
    border-color: #fd7e14;
  }
  .navbar-custom .navbar-nav .nav-item.dropdown a {
    font-size: 14px;
  }
  .navbar-custom .navbar-nav .nav-item.dropdown .dropdown-menu {
    margin-top: -0.5rem;
  }
  .navbar-custom .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-custom .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background: #007bff;
    color: #fff;
  }
}

.navbar-header {
  background: #495057;
}
.navbar-header .navbar-toggler {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: -0.25rem;
}
.navbar-header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, .9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-header .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-header .navbar-brand:hover img.logo {
  opacity: 0.9;
}
.navbar-header a {
  color: #fff;
}
.navbar-header a:hover, .navbar-header a:focus {
  color: #edeeee;
}
.navbar-header .dropdown a {
  color: #495057;
  font-size: 14px;
}
.navbar-header .dropdown a.dropdown-toggle::after {
  display: none;
}
.navbar-header .dropdown a:hover.dropdown-toggle .user-text-image {
  background: #edeeee;
}
.navbar-header .dropdown a:hover.dropdown-toggle::after {
  color: #edeeee;
}
.navbar-header .dropdown.show .dropdown-toggle .user-text-image {
  background: #edeeee;
}
.navbar-header .dropdown.show .dropdown-toggle::after {
  color: #edeeee;
}
.navbar-header .dropdown .dropdown-toggle .user-text-image {
  background: #fff;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  color: #495057;
}
.navbar-header .dropdown .dropdown-toggle::after {
  color: #fff;
}
.navbar-header .dropdown .dropdown-menu .user-profile .user-thumb {
  background: #495057;
  display: block;
  margin: 0.5rem auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  color: #fff;
}
.navbar-header .dropdown .dropdown-menu .user-info {
  padding: 0 1rem;
  text-align: center;
}
.navbar-header .dropdown .dropdown-menu .user-info .user-name {
  display: block;
  font-size: 14px;
}
.navbar-header .dropdown .dropdown-menu .user-info .user-status {
  display: block;
  color: #6c757d;
  font-size: 12px;
}
.navbar-header .dropdown .dropdown-menu .dropdown-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-header .dropdown .dropdown-menu .dropdown-item:hover {
  background: #007bff;
  color: #fff;
}

.page-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #eff1f3;
}

.breadcrumb {
  background: transparent;
  padding-left: 0rem;
  padding-right: 0rem;
  border-radius: 0;
  font-size: 12px;
}
.breadcrumb a {
  text-decoration: none;
}

.main-content {
  min-height: calc(100vh - 200px);
}
@media (min-width: 768px) {
  .main-content {
    min-height: calc(100vh - 240px);
  }
}

.form-control {
  border-radius: 0.375rem;
  height: auto;
}
.form-control::placeholder, .form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.font-14 {
  font-size: 14px;
}

table.table {
  border-radius: 0.35rem;
}
table.table thead tr th,
table.table tbody tr th {
  border-width: 0px;
}
table.table tbody tr td,
table.table tbody tr th,
table.table thead tr td,
table.table thead tr th {
  padding: 0.375rem;
}
table.table tbody tr td::after, table.table tbody tr td::before,
table.table tbody tr th::after,
table.table tbody tr th::before,
table.table thead tr td::after,
table.table thead tr td::before,
table.table thead tr th::after,
table.table thead tr th::before {
  display: none !important;
}
table.table tbody tr td .btn-icon,
table.table tbody tr th .btn-icon,
table.table thead tr td .btn-icon,
table.table thead tr th .btn-icon {
  margin-top: -4px;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755rem;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25rem;
}
.dataTables_wrapper .dataTable.table-hover tbody tr:hover {
  background: #f3fafb;
}

.tooltip {
  font-size: 12px;
}

.nav.nav-tabs .nav-item .nav-link {
  color: #212529;
  border-top-width: 2px;
}
.nav.nav-tabs .nav-item .nav-link:hover {
  border-color: transparent;
}
.nav.nav-tabs .nav-item .nav-link.active {
  font-weight: 500;
  border-top-color: #fd7e14;
}
.nav.nav-tabs .nav-item .nav-link.active:hover {
  border-color: #dee2e6;
  border-top-color: #fd7e14;
  border-bottom-color: transparent;
}
